<div x-data="gsap_animating_headings()">


    <!-- Section -->
    <section class="h-screen bg-black ">
        <div class="w-full h-full flex items-center justify-between p-4">
            <div  class="w-full  text-white flex flex-col justify-center items-center
            ">
                {{ ah_headings }}
                <div class="relative overflow-hidden w-full text-center text-[8rem]/40 tracking-tight {{ ah_style }}">
                    <div class="header-trigger">
                        {{ ah_heading }}
                    </div>
                </div>
                {{ /ah_headings }}
            </div>
        </div>


    </section>




</div>


