<section class="relative block {{ section_colour }} {{ top_padding }} {{ bottom_padding }} pt-24">
    <div class="flex lg:h-screen w-full flex-col items-center justify-center rounded-lg p-6 dark:bg-slate-900 bento-grid">
        <div
            class="flex py-10 lg:py-0 lg:h-1/3 flex-col items-center justify-center gap-4 text-center bentoIntro"
        >
            {{bento_intro}}
        </div>
        <div class="grid h-[90rem] lg:h-2/3 w-full grid-cols-3 lg:grid-cols-6 grid-rows-12 lg:grid-rows-3 gap-4">
            {{ foreach:bento_layout_5_grid as="bento" }}
                {{ bento }}
                    {{ if key == 0 }}
                        <div class="col-span-1 row-span-2 lg:row-span-1 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 1 }}
                        <div class="col-span-2 row-span-2 lg:row-span-1 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 2 }}
                        <div class="col-span-2 row-span-2 lg:row-span-1 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 3 }}
                        <div class="col-span-1 row-span-2 lg:row-span-1 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 4 }}
                        <div class="col-span-2 row-span-2 lg:row-span-1 row-start-3 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 5 }}
                        <div class="col-span-1 row-span-4 lg:row-span-2 row-start-3 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 6 }}
                        <div class="col-span-1 row-span-2 lg:row-span-1 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 7 }}
                        <div class="col-span-2 row-span-4 lg:row-span-2 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 8 }}
                        <div class="col-span-2 row-span-2 lg:row-span-1 row-start-5 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ elseif key == 9 }}
                        <div class="col-span-1 row-span-2 lg:row-span-1 bento-cell">{{ partial:sets.bento.bento_section }}</div>
                    {{ /if }}
                {{ /bento }}
            {{ /foreach:bento_layout_5_grid }}
        </div>

    </div>
</section>
