<div class="w-full lg:w-6/12 px-4" id="footerLeft">
            <h2 class="" id="footerHeading">{{footer_heading}}</h2>
            <div class="" id="footerContent">
                {{footer_content}}
            </div>
            <div class="mt-6">
{{#               <button #}}
                {{#                   class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" #}}
                {{#                   type="button" #}}
                {{#               > #}}
                {{#                 <i class="flex fab fa-twitter"></i></button #}}
                {{#               ><button #}}
                {{#                 class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" #}}
                {{#                 type="button" #}}
                {{#             > #}}
                {{#                 <i class="flex fab fa-facebook-square"></i></button #}}
                {{#             ><button #}}
                {{#                 class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" #}}
                {{#                 type="button" #}}
                {{#             > #}}
                {{#                 <i class="flex fab fa-dribbble"></i></button #}}
                {{#             ><button #}}
                {{#                 class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" #}}
                {{#                 type="button" #}}
                {{#             > #}}
                {{#                 <i class="flex fab fa-github"></i> #}}
                {{#               </button> #}}
            </div>
          </div>
