<ul
    x-cloak
    x-show="state"
    class="text-nav-link-text dark:text-nav-link-text-dark
{{#     container  #}}
    bg-nav-link-background dark:bg-nav-link-background-dark text-lg uppercase font-bold"
    x-collapse
>
    {{ children }}
        <li class="px-3 py-2 w-full block">
            <a href="{{ url }}"
               class="w-full text-nav-link-text dark:text-nav-link-text-dark inline-flex items-center gap-2"
{{#                @click="closeNav()" #}}
               aria-label="This will take you to the {{ title }} page.">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                      <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </span>
                {{ title }}
            </a>
        </li>
    {{ /children }}
</ul>
