/* Boxes */
#unevenStackSection {
    .uneven-block-top {
        @apply md:pt-0
    }

    .uneven-block-center {
        @apply md:pt-6
    }

    .uneven-block-bottom {
        @apply md:pt-12
    }
}

#stackBox {
    #stackBoxTitle {
        @apply text-xl font-semibold
    }

    #stackBoxContent {
        @apply mt-2 mb-4
    }
}

/*#fullWidthBox {*/
/*    #fullWidthBoxTitle {*/
/*        @apply text-2xl mt-5 font-semibold*/
/*    }*/

/*    #fullWidthBoxContent {*/
/*        @apply mt-2 mb-4 text-lg*/
/*    }*/
/*}*/

#box {
    #boxTitle {
        @apply text-2xl font-semibold
    }

    #boxContent {
        @apply mt-2 mb-4 text-lg
    }
}

:root {
    --box-height: 400px;
    --box-width: 500px;
}

/*.horizontal-scrolling-boxes {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: flex-start;*/
/*    width: 100%; !* Ensure the container takes up the full width *!*/
/*    position: relative;*/
/*    height: calc(var(--box-height) + 50px);*/
/*    !*overflow-x: scroll; !* Enables horizontal scrolling *!*!*/
/*}*/

/*.horizontal-scrolling-boxes .box {*/
/*    animation: scroll-left linear 10s infinite;*/
/*    width: var(--box-width); !* Explicitly set width *!*/
/*    height: var(--box-height); !* Ensure each box has a fixed height *!*/
/*    flex-shrink: 0; !* Prevents shrinking of boxes *!*/
/*}*/

/*@keyframes scroll-left {*/
/*    0% {*/
/*        transform: translateX(0); !* Start at the normal position *!*/
/*    }*/
/*    100% {*/
/*        transform: translateX(-100%); !* Move to the left by the width of the entire content *!*/
/*    }*/
/*}*/

/*#box {*/
/*    overflow-y: auto; !* Allows vertical scrolling if needed *!*/
/*}*/


/* Horizontal Scroller */
.scroller {
    max-width: 100%;

}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.box {
    animation: scroll-left linear 10s infinite;
    width: var(--box-width); /* Explicitly set width */
    height: var(--box-height); /* Ensure each box has a fixed height */
    flex-shrink: 0; /* Prevents shrinking of boxes */
    padding: 2rem;


}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;

    &:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="medium"] {
    --_animation-duration: 40s;
}


.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


/* Popular Grid */

.popContent ul {
    @apply columns-1 md:columns-2 lg:columns-1;
}

.is-popular {
    @apply -translate-y-6 outline outline-pink-600
}

.not-popular {
    @apply outline outline-black
}

/* Animating Headings */

.ah-bold {
    font-weight: bold;
}

.ah-italic {
    font-style: italic;
}

/* Animating Grid */

section.is--grid {
    position: relative;
    z-index: 1;
}

.is--grid__container {
    padding: 2.08em;
    padding-bottom: 0;

}

.grid_text-wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    margin-top: -50vh;
    padding-bottom: 2.08em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    white-space: nowrap;
}

.grid_text-list {
    position: relative;
    margin-left: -0.5em;
}

.grid_text-item {
    pointer-events: none;
}

.grid_text-item {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    opacity: 0;
    -webkit-transition: opacity 100ms ease;
    transition: opacity 100ms ease;
    font-size: 1em;
}

.grid_text-title {
    position: relative;
    font-size: 21.88em;
    line-height: 0.8;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.grid_text-item.is--active {
    opacity: 1.0;
}

.grid_wrapper {

    position: relative;
    z-index: 2;
}

.grid_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 3.6em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.grid_item:nth-child(6n+1) {
    width: 25%;
    margin-right: 6.25%;
}

.grid_item:nth-child(6n+2) {
    width: 18.75%;
    margin-right: 6.25%;
    margin-top: 20%;
}
.grid_item:nth-child(6n+3) {
    width: 20.5%;
    margin-top: 4%;
}

.grid_item:nth-child(6n+4) {
    width: 23.25%;
    margin-top: 24%;
}

.grid_item:nth-child(6n+5) {
    width: 31.25%;
    margin-right: 6.25%;
    margin-top: -12%;
}

.grid_item:nth-child(6n+6) {
    width: 25%;
    margin-right: 25%;
    margin-top: -8%;
}

.grid_item {
    padding: 0.36em;
}

.grid_wrapper.is--alt {
    padding-bottom: 23.7em;
}

.grid_element {
    position: relative;
    width: 100%;
    padding-top: 131%;
}

.grid_img {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.animated-video {
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.vertical-panels {
    height: 400dvh;
}

.horizontal-panels {
    display: flex;
    flex-direction: row;
    width: 100%;
}
