<div class="container" id="training">
    <div class="container-inner">
        <div class="grid grid-cols-2" role="list">
            {{ nav:collection:training as="results" }}
                {{ dump }}
                {{ results }}
                    {{ if slug == segment_2 }}
                        {{ if prev }}
                            <a href="{{ prev:url }}" class="flex items-center justify-start gap-2">{{ svg src="arrow_left" }}{{ prev:title }}</a>
                        {{ else }}
                            <div></div>
                        {{ /if }}
                        {{ if next }}
                            <a href="{{ next:url }}" class="flex items-center justify-end gap-2">{{ next:title }} {{ svg src="arrow_right" }}</a>
                        {{ else }}
                            <div></div>
                        {{ /if }}
                    {{ /if }}
                {{ /results }}
            {{ /nav:collection:training }}
        </div>
    </div>
</div>
